img {
  padding: 5px;
}

h1 {
  text-align: center;
  font: 5em/1.5 montserrat, sans-serif;
}

body {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 1rem auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul {
  list-style: none url(//:0); /* Remove bullets, without removing semantics */
  padding-left: 0; /* Remove left padding for flush left appearance */
}

li {
  float: left;
}

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

li a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

